

#navbar{
    /* border: 1px solid orange; */
    /* display: flex;
    justify-content: space-evenly; */
    height:60px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    /* gap: 10px; */
    background-color:rgb(35, 34, 34);
    /* position:fixed; */
    top: 0px;
    
    /* margin-bottom: 30px; */

}

.logo{
    /* border: 1px solid green; */
    height:60px;
    width:180px;
    margin-left: 30px;
    display: flex;
    margin-Bottom: 10px;
}



p:hover{
  border: 1px solid white;
}

Image:hover{
  border: 1px solid white;
}

.input{
    /* border: 1px solid green; */
    height:60px;
    width:670px;
    margin-left: 30px;
    /* margin-Bottom: 10px; */
    padding-bottom: 8px;
}



.input input{
    border: 1px solid black;
    width: 6700px;
    background-color: white;
    margin-left: 20px;
    border-radius: 2px;
}

.cart{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    border-top: 0px;
    border-bottom: 0px;
    height:50px;
    width:100px;
    margin-left: 40px;
    color:white ;
    font-size: 20px;
    /* padding-top: 7px; */
    text-decoration: none;

}
.cart:hover{
  border: 1px solid white;
}

#login{
    /* border: 1px solid rgb(202, 209, 202); */
    display: flex;
    justify-content: space-evenly;
    height:50px;
    width:150px;
    margin-right: 100px;
    padding: 20px;
    padding-bottom: 25px;
    /* gap: 10px; */
    /* color: white; */
    text-decoration: none;

}

#login:hover{
  border: 1px solid white;
}


#nave{
    background-color:rgb(44, 44, 51); 
    /* margin-top: 60px; */
}

#nav:hover{
    border: 1px solid white;
  }

@media screen and (min-width:300px) and (max-width:700px){
      #navbar{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* padding: 20px 0px; 
		padding-top: 200px;  */
      height:210px;
      width:auto
      }
    .input{
      height:auto;
      width:300px
    }
    
    }

      @media screen and (min-width:700px) and (max-width:1200px){
        #navbar{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          /* padding: 20px 0px; 
      padding-top: 200px;  */
        height:210px;
        width:auto
        }
        .input{
          height:auto;
          width:500px
        }
      
      }

      @media screen and (min-width:700px) and (max-width:1200px){
        #nave{
          display: grid;
          grid-template-columns: repeat(6,1fr);
          /* padding: 20px 0px; 
      padding-top: 200px;  */
        height:auto;
        width:auto
        }
        .live{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          height:auto;
          width:50px
        }
      }

      @media screen and (min-width:300px) and (max-width:700px){
        #nave{
          display: grid;
          grid-template-columns: repeat(4,1fr);
          /* padding: 20px 0px; 
      padding-top: 200px;  */
        height:auto;
        width:auto
        }
        .live{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          height:auto;
          width:50px
        }
      }

     


